/* General
------------------------------------*/
body {
	background: #fafafa;
}
.navbar {
	border-radius: 0;
	-webkit-border-radius: 0;
}
.breadcrumb {
	background: #f0f0f0 !important;
}

/* Sections 
------------------------------------*/
#map {
	position: relative;
	margin-top: -20px;
	height: 450px;
}
/* Hide google map term */
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}
.gm-style-cc {
	display: none;
}

.gt-catalog h1:first-child,
.gt-catalog h2:first-child,
.gt-catalog h3:first-child,
.gt-catalog h4:first-child,
.gt-catalog h5:first-child,
.gt-catalog h6:first-child {
	margin-top: 0;
}