/* General
------------------------------------*/
body {
	background: #f7f7f7;
}
.navbar {
	border-radius: 0;
	-webkit-border-radius: 0;
}
.breadcrumb {
	background: #f0f0f0 !important;
}

/* Sections 
------------------------------------*/
.gt-home-map {
	position: relative;
	margin-top: -20px;
	height: 450px;
	margin-bottom: 50px;
}
.gt-single-location-map {
	height: 350px;
	overflow: hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/* Hide google map term */
.gmnoprint a, .gmnoprint span {
	display: none;
}
.gmnoprint div {
	/*background:none !important;*/
}
#GMapsID div div a div img{
	display: none;
}
.gm-style-cc {
	display: none;
}

.gt-catalog h1:first-child,
.gt-catalog h2:first-child,
.gt-catalog h3:first-child,
.gt-catalog h4:first-child,
.gt-catalog h5:first-child,
.gt-catalog h6:first-child {
	margin-top: 0;
}

@media (min-width: 768px) {
	.pricing .unit {
		width: 35.2%;
	}
}

.gt-heading {
	border: 2px solid #434A54;
	padding: 5px 15px;
	font-size: 30px;
	display: inline-block
}

.timeline .time {
	width: 200px !important;
}

.timeline .pos-left {
	
}

.timeline .pos-right .time {
	margin-left: -200px !important;
}

.gt-logo {
	color: rgb(232, 101, 27);
	font-size: 30px;
	line-height: 10px;
}

.footer {
	margin-top: 100px;
}